*{
    box-sizing: border-box;
}
.PageTemplate{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.PageTemplate-header{
        position: fixed;
        width: 100%;
        min-width: 1200px;
        height: 100px;
        margin: 0;
        padding: 0;
        top: 0;
        z-index: 10;
}
.NavBar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    user-select: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.NavBar-wrap{
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.NavBar-wrap-header{
        width: 120px;
        min-width: 120px;
        max-width: 120px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        margin: auto 0 auto auto;
}
.NavBar-wrap-header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    cursor: pointer;
    margin: auto auto 23%;
}
.NavBar-wrap-header-logo-img {
    height: 50px;
    user-select: none;
    -webkit-user-drag: none;
}
.NavBar-wrap-nav{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
}
.NavBar-wrap-nav-wrap{
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.NavBar-wrap-nav-wrap-child{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 3% 0;
        padding: 0 .8% 3%;
}
.NavBar-wrap-nav-wrap-child-link{
        text-decoration: none;
        font-size: 18px;
        color: #5c5c5c;
        cursor: pointer;
        justify-content: center;
        text-align: center;
        align-content: center;
}
.PageTemplate-contents{
        padding-top: 120px;
        padding-bottom: 210px;
        min-width: 1200px;
        max-width: 1200px;
        min-height: 930px;
        margin: 0 auto;
}
.content-card1{
    float: left;
    width: 350px;
    height: 250px;
    left: 192px;
    top: 243px;
    border: 1px solid #C7C7C7;                                                    
    box-sizing: border-box;
    border-radius: 10px;
}
.content-card2  {
    float: right;
    width: 350px;
    height: 250px;
    left: 192px;
    top: 243px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 10px;
}
.content-card-right{
    float: right;
    width: 512px;
    height: 250px;
    left: 192px;
    top: 243px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 10px;
}
.HomeTemplate-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
.HomeTemplate-content-left{
    width: 60%;
}
.HomeTemplate-content-right{
    width: 36%;
}
.HomeTemplate-content-left-top{
    width: 100%;
    height: 320px;
}
.HomeTemplate-content-left-mid{
    width: 100%;
    height: 320px;
}
.profilebase{
      width: 100%;
      height: 580px;
      border: 1px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 10px;
}
.HomeTemplate-content-right-top{
    width: 100%;
    height: 320px;
}
.HomeTemplate-content-right-mid {
    width: 100%;
    height: 320px;
}
.part_but{
    width: 100px;
    height: 30px;
    background: linear-gradient(91.71deg, #EBA232 -2.16%, #F77D00 71.31%, #EA5413 105.25%);
    border-radius: 10px;
    border: 0;
    float: right;
}
.linkmenu{
    text-decoration: none;
}
.PageTemplate-footer {
    width: 100%;
    min-width: 1200px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.Footer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #292c33;

}